In [3]:
def printEven(n):
    cnt=0;
    sum=0;
    while(cnt!=0):
         if(cnt%2==0):
                 sum=sum+cnt;
                                        
       
         return sum;
    print(printEven(20));

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

## factorial of the given no.

In [6]:
def factorsList(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end=" ");
        i=i+1;
    return;

factorsList(12);

1 2 3 4 6

## list example 1

In [2]:
list1=[1,2,3,4,5];
#Entire list
print(list1);
#list[0]
print(list1[0]);

[1, 2, 3, 4, 5]
1

## list example 2

In [3]:
list2 = ["Akhil","Arvind","Anil","Akash",];
for x in list2:
    print(x,end=" ");

Akhil Arvind Anil Akash

## list example with particular (slicing)

In [9]:
lst1 = [1,2,3,4,5,6,7];
for x in lst1:
    print(x,end=" ")
    
print();
print(lst1[4]);
print(lst1[3:7]);
print(lst1[0:3]);
print(lst1[:3]);
print(lst1[:7]);

1 2 3 4 5 6 7
5
[4, 5, 6, 7]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]

## slicing example 2

In [3]:
list1 = [1,2,3,4,5,6,7,8,9,10];
for x in list1:
    print(x,end = " ")
    
print();
print(list1[1:-1]);
print(list1[2:-2]);
print(list1[3:-3]);
print(list1[::2]);
print(list1[::3]);
print(list1[::4]);
print(list1[::-2]);
print(list1[::-3]);
print(list1[-1]);
print(list1[-2]);

1 2 3 4 5 6 7 8 9 10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[4, 5, 6, 7]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 5, 9]
[10, 8, 6, 4, 2]
[10, 7, 4, 1]
10
9

In [4]:
list1 = ["Anil","Adarsh","Akhil",1];
print(list1);

list1[2] = 15;
print(list1);

del list1[3];
print(list1);

list1[1]="GITAM";
print(list1);

list2 = [1,2,3];

print(list2);

print(list1+list2);

['Anil', 'Adarsh', 'Akhil', 1]
['Anil', 'Adarsh', 15, 1]
['Anil', 'Adarsh', 15]
['Anil', 'GITAM', 15]
[1, 2, 3]
['Anil', 'GITAM', 15, 1, 2, 3]

##  append and count method

In [2]:
lst1=[1,2,3,4,5];
print(lst1);
del lst1[2];
print(lst1);
#lst1[4]=15;
print(len(lst1));
lst1.append(15);
lst1.append(150);
lst1.append(1);
lst1.append(3);
print(lst1);
print(lst1.count(1));
print(lst1.count(3));

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4
[1, 2, 4, 5, 15, 150, 1, 3]
2
1

##  insert method

In [8]:
list1 = ["gitam","python","raptor","python",1,5,"python"];
print(list1);
print(list1.index("raptor"));
print(list1.index(1));
print(len(list1));
list1.insert(2,2019);
print(list1);
print(len(list1));
list1.insert(4,2020);
print (list1)

['gitam', 'python', 'raptor', 'python', 1, 5, 'python']
2
4
7
['gitam', 'python', 2019, 'raptor', 'python', 1, 5, 'python']
8
['gitam', 'python', 2019, 'raptor', 2020, 'python', 1, 5, 'python']

## remove method

In [6]:
list1 = ["gitam","python","raptor","python",1,5,"python"];
print(list1);
list1.remove("python");
print(list1);
list1.remove("python");
print(list1);

['gitam', 'python', 'raptor', 'python', 1, 5, 'python']
['gitam', 'raptor', 'python', 1, 5, 'python']
['gitam', 'raptor', 1, 5, 'python']

## reverse method

In [7]:
list1 = ["gitam","python","raptor","python",1,5,"python"];
print(list1);
list1.remove("python");
print(list1);
list1.remove("python");
print(list1);
list1.reverse()
print(list1)

['gitam', 'python', 'raptor', 'python', 1, 5, 'python']
['gitam', 'raptor', 'python', 1, 5, 'python']
['gitam', 'raptor', 1, 5, 'python']
['python', 5, 1, 'raptor', 'gitam']

Target item not found